.menu {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 26px;
  font-weight: 800;
}
.sektion1 {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 1000px;
}
.heroimage {
  background-color: red;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.seksi3bag1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.seksi3bag2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.seksi4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .sektion1 {
    flex-direction: column;
  }
  .seksi3bag1 {
    flex-direction: column;
  }
  .seksi3bag2 {
    flex-direction: column;
  }
  .seksi4 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 360px) {
  .sektion1 {
    flex-direction: column;
  }
  .seksi3bag1 {
    flex-direction: column;
  }
  .seksi3bag2 {
    flex-direction: column;
  }
  .seksi4 {
    flex-direction: column;
  }
}
